<router-outlet></router-outlet> <!--форма покупки -->

<div class="filtration">
  <label class="filtration__text" for="filtration">ФИЛЬТРАЦИЯ</label>
    <select class="filtration__input" id="filtration" size="1" [(ngModel)]="steamService.genreForShopFilter" (ngModelChange)="steamService.filterByShopGenre()"
            [routerLink]="['/shop']" [queryParams]="{filtrationBy: steamService.genreForShopFilter}"
    >
        <option selected>Жанр</option>
        <option value="{{item.value}}" *ngFor="let item  of genre | keyvalue;">{{item.value}}</option>
    </select>
</div>

<div class="search">
    <label class="search__text" for="search">ПОИСК</label>
    <input class="search__input" id="search" type="text" placeholder="по названию" [(ngModel)]="steamService.titleForShopSearch"
           [routerLink]="['/shop']" [queryParams]="{searchBy: steamService.titleForShopSearch}"
    >
</div>


<div class="games" *ngIf="steamService.games.length; else notFoundMess;">
    <ng-container *ngFor="let game of steamService.games">
        <app-game-card [game]="game"
                       [hasDiscount]="game.id === steamService.gameIdWithDiscount"
                       [routerLink]="['/game', game.id]"
        >
        </app-game-card>
    </ng-container>
</div>

<ng-template #notFoundMess> Не найдено!</ng-template>


