<form class="card wrapper" [formGroup]="singInForm" (ngSubmit)="singInSubmit()"
      *ngIf="isSingIn"
>
  <h2 class="singIn" [class.isActive]="isSingIn">Авторизация</h2>
  <h2 (click)="isSingIn = !isSingIn" class="singUp">Регистрация</h2>


  <div class="alert alert-info" *ngIf="message">
    {{message}}
  </div>

  <div class="form-control"
       [ngClass]="{invalid: singInForm.get('singInEmail').touched && singInForm.get('singInEmail').invalid}">
    <label for="singInEmail">Эмаил:</label>
    <input id="singInEmail" type="email" formControlName="singInEmail">
    <div class="validation"
    *ngIf="singInForm.get('singInEmail').touched && singInForm.get('singInEmail').invalid">
      <small *ngIf="singInForm.get('singInEmail').errors.required">Поле обязательно для заполнения</small>
      <small *ngIf="singInForm.get('singInEmail').errors.email">Email задан некорректно</small>
    </div>
  </div>

  <div class="form-control"
       [ngClass]="{invalid: singInForm.get('singInPassword').touched && singInForm.get('singInPassword').invalid}">
    <label for="singInPassword">Пароль:</label>
    <input id="singInPassword" type="password" formControlName="singInPassword">
    <div class="validation"
    *ngIf="singInForm.get('singInPassword').touched && singInForm.get('singInPassword').invalid">
      <small *ngIf="singInForm.get('singInPassword').errors.required">Поле обязательно для заполнения</small>
      <small *ngIf="singInForm.get('singInPassword').errors.minlength">Пароль должен быть не менее {{singInForm.get('singInPassword').errors.minlength.requiredLength}} символов</small>
    </div>
  </div>

  <button type="submit" class="btn" [disabled]="singInForm.invalid || submitted">Войти</button>
</form>


<form class="card wrapper" [formGroup]="singUpForm" (ngSubmit)="singUpSubmit()"
      *ngIf="!isSingIn"
>
  <h2 class="singUp" [class.isActive]="!isSingIn">Регистрация</h2>
  <h2 (click)="isSingIn = !isSingIn" class="singIn">Авторизация</h2>


  <div class="alert alert-info" *ngIf="message">
    {{message}}
  </div>

  <div class="form-control"
       [ngClass]="{invalid: singUpForm.get('singUpNickname').touched && singUpForm.get('singUpNickname').invalid}">
    <label for="singUpNickname">Никнэйм:</label>
    <input id="singUpNickname" type="text" formControlName="singUpNickname">
    <div class="validation"
         *ngIf="singUpForm.get('singUpNickname').touched && singUpForm.get('singUpNickname').invalid">
      <small *ngIf="singUpForm.get('singUpNickname').errors.required">Поле обязательно для заполнения</small>
      <small *ngIf="singUpForm.get('singUpNickname').errors.pattern">Никнэйм может состоять только из латинских букв, цифр!</small>
    </div>
  </div>

  <div class="form-control"
       [ngClass]="{invalid: singUpForm.get('singUpEmail').touched && singUpForm.get('singUpEmail').invalid}">
    <label for="singUpEmail">Эмаил:</label>
    <input id="singUpEmail" type="email" formControlName="singUpEmail">
    <div class="validation"
         *ngIf="singUpForm.get('singUpEmail').touched && singUpForm.get('singUpEmail').invalid">
      <small *ngIf="singUpForm.get('singUpEmail').errors.required">Поле обязательно для заполнения</small>
      <small *ngIf="singUpForm.get('singUpEmail').errors.email">Email задан некорректно</small>
    </div>
  </div>

  <div class="form-control"
       [ngClass]="{invalid: singUpForm.get('singUpPassword').touched && singUpForm.get('singUpPassword').invalid}">
    <label for="singUpPassword">Пароль:</label>
    <input id="singUpPassword" type="password" formControlName="singUpPassword">
    <div class="validation"
         *ngIf="singUpForm.get('singUpPassword').touched && singUpForm.get('singUpPassword').invalid">
      <small *ngIf="singUpForm.get('singUpPassword').errors.required">Поле обязательно для заполнения</small>
      <small *ngIf="singUpForm.get('singUpPassword').errors.minlength">Пароль должен быть не менее {{singUpForm.get('singUpPassword').errors.minlength.requiredLength}} символов</small>
    </div>
  </div>

  <button type="submit" class="btn" [disabled]="singUpForm.invalid || submitted">Зарегистрироваться</button>
</form>
