<router-outlet></router-outlet> <!--форма покупки -->
<div class="game">
  <div class="left">
    <img class="icon" src="https://cloclo10.cloud.mail.ru/inline/1.png?etag=79B59883DB81A848CB81A5EC295EC813ACC8C367&x-email=yermakov.alex%40mail.ru"
              alt="game-icon"
    >
    <button class="btn" [routerLink]="['/game', game.id, 'buy-form', game.id]">Купить</button>
    <button class="btn" (click)="steamService.goBack()">Назад</button>
<!--    <button class="btn" [routerLink]="['/game', game.id, 'buy-form']">Купить</button>
Есть кнопка купить, которая покаазывается, если игра не куплена. Через нгиф.
Есть кнопка установить, которая показывается, если игра куплена.
У нее 2 положения и она тоглиться с установить на удалить и показывается модалка с имитацией процесса установки/удаления-->
  </div>

  <div class="right">
    <p class="header">{{game.title}} {{game.rating}}*</p>
    <p>Жанр: {{game.genre}}</p>
    <p>Цена: {{game.price}}</p>
    <p class="desc">Описание: {{game.description}}</p>
  </div>


</div>
