<nav class="navbar">
  <h1 routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/']">Steam</a>
  </h1>
  <ul>
    <li routerLinkActive="active"><a [routerLink]="['/shop']">Shop</a></li>
<!--    <li routerLinkActive="active"><a routerLink="/shop">Shop</a></li>-->
    <li routerLinkActive="active"><a [routerLink]="['/library']">Library</a></li>

    <li routerLinkActive="active"><a [routerLink]="['/about']">About</a></li>

    <li routerLinkActive="active" *ngIf="auth.isAuthenticated()"><a href="#" (click)="logout($event)">Выйти</a></li>
    <li routerLinkActive="active" *ngIf="!auth.isAuthenticated()"><a href="#" routerLink="/login">Войти</a></li>
  </ul>
</nav>

<div class="container">

  <router-outlet></router-outlet>


</div>
