<app-downloading></app-downloading>

<nav class="navbar">
  <h1 routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/']">Steam <span *ngIf="steamService.currUser">({{steamService.currUser.nickname}})</span></a>
  </h1>
  <ul>
    <li routerLinkActive="active"><a [routerLink]="['/shop']">Магазин</a></li>

    <li routerLinkActive="active"><a [routerLink]="['/library']">Библиотека</a></li>

    <li routerLinkActive="active" *ngIf="steamService.isAuthenticated()"><a (click)="steamService.logout()">Выйти</a></li>
    <li routerLinkActive="active" *ngIf="!steamService.isAuthenticated()"><a [routerLink]="['/login']">Войти</a></li>
  </ul>
</nav>

<div class="container">

  <router-outlet></router-outlet>

</div>
