<div class="loading-screen-wrapper" *ngIf="steamService.loading">
  <div class="loading-screen-icon">
    <div id="preloader">
      <div id="loader"></div>
    </div>
  </div>
</div>
<!--===========================================-->
<!--<div class="container">-->
<!--  <div class="dash uno"></div>-->
<!--  <div class="dash dos"></div>-->
<!--  <div class="dash tres"></div>-->
<!--  <div class="dash cuatro"></div>-->
<!--</div>-->
<!--=========================================================================-->
<!--    <h2 class="animate">Загрузка..</h2>-->







